<div id="post-comments" class="post-comments u-hide u-backgroundWhite u-paddingTop30 u-paddingBottom30 u-staticHide link--accent">
    <div class="u-container u-maxWidth1000 u-card">
        {{!-- Disqus Comments --}}
        <div id="disqus_thread" class="simply-disqus link--accent u-hide"></div>
        {{!-- Comments section for facebook --}}
        <div class="fb-comments simply-facebook u-hide" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
    </div>
</div>


{{#contentFor "scripts"}}

{{!-- Disqys Comments --}}
<script>
    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    };

    (function() {
        if (typeof disqusShortName !== 'undefined') {
            $('#post-comments').removeClass('u-hide');
            $('.simply-disqus').removeClass('u-hide');
            var d = document, s = d.createElement('script');
            s.async = true;
            // IMPORTANT: Replace EXAMPLE with your forum shortname!
            s.src = 'https://'+disqusShortName+'.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    })();
</script>

{{/contentFor}}
