{{#post}}
<article class="post u-marginBottom40 u-relative">

    <header class="post-header u-container u-maxWidth740 u-paddingTop30 u-staticPaddingZero">
        {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
        {{> "card-meta"}}

        {{!-- Article Title --}}
        <h1 class="post-title u-fontSize40 u-paddingTop20 u-contentTitle u-paddingBottom2 u-fontWeightSemibold u-md-fontSizeLarger">{{title}}</h1>

        {{!-- Article Excerpt  --}}
        {{#if custom_excerpt}}<p class="post-excerpt u-textColorNormal u-fontSize28 u-marginBottom20 u-paddingTop5 u-staticHide" style="line-height:1.22;letter-spacing:-.022em">{{custom_excerpt}}</p>{{/if}}
    </header>

    {{!-- audio post format --}}
    {{{block "simply_audio"}}}

    {{!-- Video post format --}}
    {{{block "simply_video"}}}

    {{!-- Image post Format or Image Normal --}}
    {{{block "simply_feature_image"}}}

    <section class="post-body u-container u-maxWidth740 u-relative u-clear">
        {{!-- Share post --}}
        {{> "article-share"}}

        {{!-- Content of Post --}}
        {{content}}
    </section>

    <footer class="post-footer u-container u-maxWidth740 u-paddingTop20 u-paddingBottom20 u-staticHide">
        {{!-- Email subscribe form at the bottom of the page --}}
        {{> "article-subscribers"}}

        {{!-- Post All Tags (category) --}}
        {{> "article-tags"}}
    </footer>

</article>
{{/post}}

{{!-- Article related --}}
{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
    {{> "card-post" widgetTitle=(t "Article Related") cardPosts=related }}
{{/get}}


{{#post}}
    {{!-- post Commets --}}
    {{> "article-comments"}}

    {{!-- Post Actions (next and prev post, share social media, cout share in facebook) --}}
    {{> "article-actions"}}

    {{!-- Instgram Feed --}}
    {{> "instagram-feed"}}
{{/post}}
