<div class="cardPost u-backgroundWhite u-paddingTop30 u-paddingBottom20 u-overflowHidden u-staticHide">
    <div class="u-marginAuto u-maxWidth1000">
        <div class="row">

        {{#foreach cardPosts}}
            <article class="col s12 m6 l4 simply-tracking" data-event-category="Article" data-event-action="Related Posts" data-event-label="{{url absolute="true"}}" data-event-non-interaction="1">
                <div class="u-card u-padding0">

                    {{!-- Featured image cover --}}
                    {{#if feature_image}}
                    <div class="cardPost-image u-relative u-overflowHidden u-sizeFullWidth">
                        <a href="{{url absolute="true"}}" class="cardPost-image--link u-block u-absolute0">
                            <span class="u-absolute0 u-backgroundSizeCover u-backgroundColorGrayLight story-image-lazy" data-original="{{feature_image}}"></span>
                        </a>
                    </div>
                    {{/if}}

                    <div class="cardPost-body u-padding15 u-flexColumn" style="{{#unless feature_image}}height:100%;width:100%{{else}}height:135px {{/unless}}">

                        <div class="u-flex1">
                            {{!-- Primary tag --}}
                            {{#primary_tag}}
                                <a href="{{url absolute="true"}}" class="u-block postMetaInline u-lineHeight1 link--underline u-fontSize15 u-fontWeightSemibold" style="padding-bottom:7px">{{name}}</a>
                            {{/primary_tag}}


                            <a href="{{url absolute="true"}}" class="u-block">
                                {{!-- title --}}
                                <h2 class="cardPost-title u-contentTitle u-fontSize22 u-fontWeightBold u-overflowHidden u-paddingBottom2">{{title}}</h2>

                                {{!-- excerpt --}}
                                {{#unless feature_image}}
                                <div class="u-textColorNormal" style="margin-top:7px"> {{excerpt words="20"}} </div>
                                {{/unless}}
                            </a>

                        </div>

                        {{!-- Date time and reading time --}}
                        <div class="u-flex0 u-flexCenter u-fontSize14 postMetaInline u-paddingTop10">
                            <time class="datetime" datetime="{{date format=" YYYY-MM-DD "}}">{{date published_at format="MMM DD"}}</time>
                            <span class="points u-fontWeightBold" style="margin:0 5px;">·</span>
                            <span class="readingTime">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
                        </div>

                    </div>
                </div>
            </article>
        {{/foreach}}

        </div>
    </div>
</div>