{{!-- Template for entry meta and date --}}
<div class="u-flex u-flexCenter u-paddingTop5 u-staticHide">

    {{#author}}
    <div class="u-flex0">
        <a href="{{url}}" style="background-image:url({{profile_image}});{{#is "post"}}height:60px;width:60px;{{/is}}" class="avatar-image avatar-image--smaller u-backgroundSizeCover u-relative {{^if profile_image}}no-avatar{{/if}}"></a>
    </div>
    {{/author}}

    <div class="u-paddingLeft15 u-textColorNormal u-flex1 u-overflowHidden {{#is "tag, author"}}u-fontSize15{{else}}u-fontSizeSmall{{/is}}">

        {{#author}}
            <a href="{{url}}" class="simply-tracking link {{#is "post"}} u-textColorDarker {{else}} u-accentColor--iconNormal{{/is}}" data-event-category="Article" data-event-action="Author - {{name}}" data-event-label="Profile" data-event-non-interaction="1">{{name}}</a>

            {{!-- Follow --}}
            {{#is "post"}}{{#has any="facebook, twitter"}}
                <div class="u-inlineBlock simply-follow" style="margin-left:10px">
                    <span class="simply-hover-hidden simply-follow-btn button button--primary u-borderRadius2 u-fontSizeSmall u-fontSize13">{{t "Follow"}}</span>
                    {{!-- Author Facebook and Twitter --}}
                    <div class="simply-hover-show buttonSet u-inlineBlock" style="display:none">
                        {{#if facebook}}<a class="simply-follow-btn button button--primary u-borderRadius2 u-fontSize13" href="{{facebook_url}}" title="Facebook" target="_blank"><i class="i-facebook"></i> Facebook</a>{{/if}}
                        {{#if twitter}}<a class="simply-follow-btn button button--primary u-borderRadius2 u-fontSize13" href="{{twitter_url}}" title="{{twitter}}" target="_blank"><i class="i-twitter"></i> Twitter</a>{{/if}}
                    </div>
                </div>
            {{/has}}{{/is}}

        {{/author}}

        {{!-- tags Primary --}}
        {{^is "post"}}
            {{#primary_tag}} <span>{{t "in"}}</span> <a class="link u-accentColor--iconNormal" href="{{url}}">{{name}}</a> {{/primary_tag}}
        {{/is}}

        {{!-- in post page add author's description --}}
        {{#is "post"}}
            {{#if author.bio}}
                <div class="u-block u-paddingBottom2 u-fontSizeSmaller u-noWrapWithEllipsis" style="padding-top:2px;">{{{author.bio}}}</div>
            {{/if}}
        {{/is}}

        {{!-- Datetime - readingTime  --}}
        <div class="u-fontSize14 u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight u-flex">
            <time class="datetime u-textCapitalize" datetime="{{date format=" YYYY-MM-DD "}}">{{date published_at format="MMM DD"}}</time>
            <span class="points u-fontWeightBold" style="margin:0 5px;">·</span>
            <span class="readingTime">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
        </div>
    </div>
</div>
