{{!-- Header Template --}}

<header class="header u-sizeFullWidth u-relative u-bgColor u-staticHide">
    <div class="pageHeader">
        <div class="banner row">
            <div class="col s7 banner-title">Install DocsApp and always have a doctor near you</div>
            <div class="col s5 banner-cta">
            <a class="getApp" id="chanTrack" href="https://docsapp.onelink.me/2203326179?pid=seopages&amp;c=docsappblog&amp;af_channel=&amp;af_adset={{@blog.title}}&amp;is_retargeting=true&amp;af_dp=docsapp%3A%2F%2F&amp;af_ad=header">
                Install App
            </a>
            </div>
        </div>
    </div>
    <div class="header-wrap u-flexCenter u-relative">

        {{!-- background dark if home have image --}}
        {{#is "home"}}
            {{#if @blog.cover_image}}
            <span class="u-absolute0 u-backgroundDark u-hide-before-md"></span>
            <span class="u-absolute0 u-backgroundSizeCover u-hide-before-md cover-lazy lazy" data-original="{{@blog.cover_image}}"></span>
            {{else}}
            <span class="u-absolute0 u-hide-before-md" style="background:rgba(0,0,0,.175)"></span>
            {{/if}}
        {{/is}}

        <div class="u-maxWidth1200 u-sizeFullWidth u-container {{#unless @blog.logo}} not-logo {{/unless}} {{#is "home"}} header-top {{else}} u-flex u-flexCenter {{/is}}" style="z-index:100">

            {{!-- header logo --}}
            {{#is "home"}}
                <h1 class="u-textAlignCenter u-flex1 u-lineHeight1 header-logo--wrap">
                    <a class="header-logo u-inlineBlock" href="{{@blog.url}}">
                        {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span class="u-fontSizeJumbo u-fontWeightBold">{{@blog.title}}</span>{{/if}}
                    </a>
                </h1>

            {{else}}

                <a class="header-logo u-inlineBlock u-flex0" href="{{@blog.url}}">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span class="u-fontSize36 u-lineHeight1 u-fontWeightSemibold">{{@blog.title}}</span>{{/if}}
                </a>
            {{/is}}


            {{!-- Menu if is not home page --}}
            {{^is "home"}}
                <nav class="nav u-flex u-flex1 u-paddingLeft20 u-flexCenter u-headerColorLink u-hide-before-md">{{navigation}}</nav>
            {{/is}}

            <div class="u-flex0 u-flex u-flexEnd u-headerColorLink {{#is "home"}}u-hide-after-md{{/is}}">

                {{!-- Btn search and close menu --}}
                <a href="#" class="search-toggle u-relative button button--chromeless i-search u-fontSizeLarge"></a>
                <a href="#" style="margin-right:-12px;" class="button-nav--toggle u-relative u-hide-after-md"><span></span><span></span><span></span></a>

                {{!-- header follow if is not index page --}}
                {{^is "home"}} {{>"widget-follow"}} {{/is}}

            </div>

            {{!-- Header description for index page --}}
            {{#is "home"}}{{#if @blog.description}}<div class="header-description u-fontSize21 u-fontWeightSemibold u-marginAuto u-paddingTop10 u-textAlignCenter u-hide-before-md">{{@blog.description}}</div>{{/if}}{{/is}}

        </div>
    </div>

    {{!-- if is home page --}}
    {{#is "home"}}

    <nav class="mainMenu u-fontSizeSmaller u-bgColor u-sizeFullWidth u-hide-before-md">
        <div class="nav u-flex u-flexCenter u-headerColorLink u-maxWidth1040 u-container">
            {{!-- Navigation --}}
            {{navigation}}

            <a href="#" class="search-toggle button button--chromeless u-fontSizeLarge i-search"></a>

            {{!-- follow Me --}}
            {{>"widget-follow"}}
        </div>
    </nav>

    {{/is}}

    {{!-- Side Nav for Mobile --}}
    {{>"sidenav"}}

    <script>

        {{!-- $( document ).ready(function() {
            checkCookie();
        }); --}}
        document.addEventListener('DOMContentLoaded', function(event) {
            checkCookie();
        });

        function checkCookie() {
            var curr = localStorage.getItem('channel1');
            var ind = (window.location.search).indexof("utm_source=");
            var subString = (ind != -1) ? (window.location.search).substr(ind+11) : '';
            var sourceVal = (subString != '') ? subString : "direct";
            if (curr!= "" && sourceVal != "direct" && curr != sourceVal){
                localStorage.setItem('channel1', sourceVal);
            }
            else if ( !curr ) {
                localStorage.setItem('channel1', sourceVal);
            }

            var next = localStorage.getItem('channel1');
            var curUrl = $("#chanTrack").attr("href");
            var index = curUrl ? curUrl.indexOf("af_channel") : -1;
            if( index != -1 ){
                var str = curUrl.substring(0, index + 11);
                var str2 = curUrl.substring(index + 11);
                var res = str + next + str2;
                $("#chanTrack").attr("href", res);
            }
        }
    </script>
</header>
