<aside class="sideNav u-absolute0 u-hide-after-md u-bgColor">
    <div class="sideNav-wrap u-absolute0">
        {{!-- Menu --}}
        <nav class="sideNav-menu">{{navigation}}</nav>
        {{!--follow box --}}

        <div class="sideNav-follow followMe u-fontSize20 u-paddingTop20 u-paddingLeft20 u-paddingRight20">
            {{#if @blog.facebook}} <a title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank" class="i-facebook"></a>{{/if}}
            {{#if @blog.twitter}} <a title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank" class="i-twitter"></a>{{/if}}
        </div>

        <div class="sideNav-copyright u-textColorNormal u-fontSizeSmaller u-fontWeightSemibold u-textAlignCenter u-paddingTop20 u-paddingLeft20 u-paddingRight20">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>
            {{!-- Design with <i class="i-favorite animated infinite pulse" style="color:red;display:inline-block"></i> by <a href="https://goo.gl/Jf1tZe" target="_blank" title="Developer Web FullStack.">@GodoFredoNinja</a> --}}
        </div>
    </div>
</aside>
