<!DOCTYPE html>
<html ⚡ lang="{{lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{amp_ghost_head}}

    {{!-- Google Fonst --}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,600,400" />

    {{!-- Style Custom --}}
    <style amp-custom>.u-bgColor{background-color:#00a034}.u-flexCenter{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.u-block{display:block}.u-relative{position:relative}.u-overflowHidden{overflow:hidden}.u-fontSizeSmaller{font-size:14px}.u-flex1{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}.u-absolute{position:absolute}.u-textCenter{text-align:center}.u-container{margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px}.u-textColorNormal{color:rgba(0,0,0,.44);fill:rgba(0,0,0,.44)}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}a{color:inherit;text-decoration:none}a:active,a:hover{outline:0}body{color:rgba(0,0,0,.8);font-family:Source Sans Pro,sans-serif;font-size:18px;font-style:normal;font-weight:400;letter-spacing:0;line-height:1.4;margin:0 auto;text-rendering:optimizeLegibility}blockquote{border-left:3px solid rgba(0,0,0,.8);font-style:italic;letter-spacing:-.003em;margin-left:-5px;margin-right:0;padding-bottom:2px;padding-left:20px}h1,h2,h3,h4,h5,h6{font-family:Source Sans Pro,sans-serif;font-style:normal;font-weight:700;letter-spacing:-.028em;line-height:1.1;margin:32px 0 0}h1{font-size:32px}h2{font-size:30px}h3{font-size:28px}h4{font-size:22px}h5{font-size:20px}h6{font-size:18px}hr{border:0;display:block;margin:50px auto;text-align:center;overflow:visible;height:0}hr:before{color:rgba(0,0,0,.6);content:"...";display:inline-block;font-family:Source Sans Pro,sans-serif;font-size:28px;font-weight:400;letter-spacing:.6em;position:relative;top:-30px}mark{background-color:transparent;background-image:-webkit-gradient(linear,left top,left bottom,from(#d7fdd3),to(#d7fdd3));background-image:-webkit-linear-gradient(top,#d7fdd3,#d7fdd3);background-image:-o-linear-gradient(top,#d7fdd3,#d7fdd3);background-image:linear-gradient(180deg,#d7fdd3,#d7fdd3);color:rgba(0,0,0,.8)}ol,p,ul{margin:0}ol,ul{list-style:none;list-style-image:none;padding:0}p code{border-radius:4px;color:#c7254e;padding:4px 6px;text-shadow:0 1px #fff}p code,pre{background:#efefef}pre{border-radius:3px;padding:10px;overflow-x:auto;font-size:14px}.fluid-width-video-wrapper,amp-iframe,iframe{margin-top:30px}.svg-icon{width:auto;height:20px;fill:rgba(0,0,0,.8);stroke:none}.main-header{position:fixed;top:0;width:100%;z-index:1000}.blog-title{height:50px;line-height:0}.logo-link{color:#fff;font-size:24px;font-weight:600}.hamburgermenu{background-color:transparent;border:none;padding:0;height:48px;position:relative;-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;-o-transition:-o-transform .4s;transition:transform .4s;transition:transform .4s,-webkit-transform .4s,-o-transform .4s;width:48px;margin-right:-12px}.hamburgermenu span{background-color:#fff;display:block;height:2px;left:14px;margin-top:-1px;position:absolute;top:50%;width:20px}.hamburgermenu span:first-child{-webkit-transform:translateY(-6px);-o-transform:translateY(-6px);transform:translateY(-6px)}.hamburgermenu span:last-child{-webkit-transform:translateY(6px);-o-transform:translateY(6px);transform:translateY(6px)}.sidebar{width:280px;background:#eee}.sidebar ul{margin:18px 0 20px}.sidebar ul li a{margin-bottom:5px;padding:6px 20px}.sidebar .follow{border-top:1px solid #ddd}.close-sidebar{height:50px;font-size:25px;line-height:50px;text-align:right;padding-right:20px;color:#fff}.author{border-radius:50%;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto}.author-avatar{height:60px;width:60px}.author-image{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%}.author-left{padding-left:15px;font-size:16px}.author-bio{text-overflow:ellipsis;white-space:nowrap}.main{margin:auto;max-width:600px;padding-top:50px}.article-header,.article-title{margin-top:20px}.article-title{line-height:1.04}.article-excerpt{color:rgba(0,0,0,.44);font-size:20px;letter-spacing:-.022em;line-height:1.22;margin-bottom:20px;margin-top:10px}.article-image{margin-right:-20px;margin-left:-20px}.article-tags{padding:30px 0 0}.article-tags a{background:rgba(0,0,0,.08);border-radius:3px;color:rgba(0,0,0,.6);display:inline-block;font-size:14px;height:37px;line-height:35px;padding:0 16px;margin:0 8px 8px 0}.article-body{font-family:Droid Serif,serif;font-size:18px;font-weight:400;letter-spacing:-.004em;line-height:1.58}.article-body a{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(0,0,0,.6)),color-stop(0,transparent));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.6) 50%,transparent 0);background-image:-o-linear-gradient(top,rgba(0,0,0,.6) 50%,transparent 0);background-image:linear-gradient(180deg,rgba(0,0,0,.6) 50%,transparent 0);background-position:0 1.07em;background-repeat:repeat-x;background-size:2px .1em;text-decoration:none}.article-body p{margin-top:28px}.article-body ol,.article-body ul{counter-reset:post;margin-top:20px}.article-body ol li,.article-body ul li{letter-spacing:-.003em;line-height:1.58;margin-left:30px}.article-body ol li:before,.article-body ul li:before{-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;margin-left:-78px;position:absolute;text-align:right;width:78px}.article-body ul li:before{content:"\2022";font-size:16.8px;padding-right:15px;padding-top:4px}.article-body ol li:before{content:counter(post) ".";counter-increment:post;padding-right:12px}.kg-card-markdown>p:first-of-type:first-letter{float:left;font-size:50px;font-style:normal;font-weight:700;letter-spacing:-.03em;line-height:.83;margin-bottom:-.08em;margin-left:-5px;margin-right:7px;padding-top:7px;text-transform:uppercase}.related{padding-top:20px;padding-bottom:20px;margin-top:40px;background:#fafafa}.related-title{border-bottom:1px solid rgba(0,0,0,.15);margin-bottom:30px}.related-title span{border-bottom:1px solid rgba(0,0,0,.54);color:rgba(0,0,0,.84);display:inline-block;font-size:18px;font-weight:600;padding-bottom:20px}.story:nth-child(3n) .story-border{border-color:#f59e00}.story:nth-child(3n+2) .story-border{border-color:#26a8ed}.story-link{background-color:#fff;border-bottom:1px solid rgba(0,0,0,.04);-webkit-box-shadow:0 1px 7px rgba(0,0,0,.05);box-shadow:0 1px 7px rgba(0,0,0,.05);min-height:50px;padding:15px 15px 15px 55px}.story-title{line-height:1.1;font-size:18px;font-weight:400;margin:0}.story-border{border-left:3px solid #00a034;bottom:0;color:rgba(0,0,0,.2);font-family:Droid Serif,serif;font-size:28px;font-weight:700;left:0;padding:15px 10px 10px;top:0}.footer{background-color:#fafafa;color:rgba(0,0,0,.44);font-weight:600;padding-top:20px;padding-bottom:45px}.copyright{font-size:14px}.copyright a{color:rgba(0,0,0,.7)}.follow{padding:20px}.follow a{padding:0 7px;display:inline-block;vertical-align:middle}.share{margin:15px 0 0;height:26px}.share ul{display:-webkit-box;display:-ms-flexbox;display:flex;height:26px}.share li{width:25%;margin:0 2px}.share li svg{width:100%;height:100%;display:block;fill:#fff}.share li.fb{background-color:#45619d}.share li.tw{background-color:#00acee}.share li.wa{background-color:#0f9938}.share li.gplus{background-color:#f63e28}</style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

    {{amp_components}}

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
        {
            "vars" : {
                "gtag_id": "UA-82678143-2",
                "config" : {
                "UA-82678143-2": { "groups": "default" }
                }
            }
        }
        </script>
    </amp-analytics>
</head>

<body class="amp-template">
    {{!-- Sidebar --}}
    <amp-sidebar id="sidebar1" class="sidebar" layout="nodisplay" side="right">
        <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar u-bgColor">✕</div>

        {{!-- Navigation  --}}
        {{navigation}}

        {{!-- Follow social media -- sidebar --}}
        <div class="follow">
            {{#if @blog.facebook}}
                <a href="{{facebook_url}}" rel="nofollow" target="_blank"><svg class="svg-icon" width="21" height="24" viewBox="0 0 21 24"><path d="M19.433 1.714c0.629 0 1.138 0.509 1.138 1.138v18.295c0 0.629-0.509 1.138-1.138 1.138h-5.237v-7.969h2.665l0.402-3.107h-3.067v-1.982c0-0.897 0.241-1.5 1.54-1.5l1.634-0.013v-2.772c-0.281-0.040-1.259-0.121-2.384-0.121-2.371 0-4.004 1.446-4.004 4.098v2.29h-2.679v3.107h2.679v7.969h-9.844c-0.629 0-1.138-0.509-1.138-1.138v-18.295c0-0.629 0.509-1.138 1.138-1.138h18.295z"></path></svg></a>
            {{/if}}

            {{#if @blog.twitter}}
                <a href="{{twitter_url}}" rel="nofollow" target="_blank"><svg class="svg-icon" viewBox="0 0 18 18" width="100%" height="100%"><path d="M12.077 2c-1.812 0-3.282 1.582-3.282 3.534 0 .277.03.547.085.806-2.728-.148-5.147-1.555-6.766-3.693-.283.522-.445 1.13-.445 1.777 0 1.226.58 2.308 1.46 2.942-.54-.02-1.05-.178-1.49-.443v.045c0 1.712 1.13 3.14 2.63 3.465-.28.08-.57.124-.87.124-.21 0-.418-.022-.62-.063.418 1.404 1.63 2.426 3.067 2.455-1.125.94-2.54 1.51-4.078 1.51-.267 0-.528-.02-.785-.05 1.46 1 3.185 1.59 5.04 1.59 6.037 0 9.34-5.39 9.34-10.06 0-.153-.005-.306-.01-.457.64-.5 1.197-1.12 1.637-1.83-.59.28-1.22.47-1.885.557.677-.437 1.198-1.13 1.443-1.955-.633.405-1.336.7-2.084.858C13.88 2.43 13.028 2 12.08 2"></path></svg></a>
            {{/if}}

            {{!-- Instagram --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon"  width="21" height="24" viewBox="0 0 21 24"><path d="M13.714 12c0-1.888-1.54-3.429-3.429-3.429s-3.429 1.54-3.429 3.429 1.54 3.429 3.429 3.429 3.429-1.54 3.429-3.429zM15.563 12c0 2.92-2.357 5.277-5.277 5.277s-5.277-2.357-5.277-5.277 2.357-5.277 5.277-5.277 5.277 2.357 5.277 5.277zM17.009 6.509c0 0.683-0.549 1.232-1.232 1.232s-1.232-0.549-1.232-1.232 0.549-1.232 1.232-1.232 1.232 0.549 1.232 1.232zM10.286 3.563c-1.5 0-4.714-0.121-6.067 0.415-0.469 0.188-0.817 0.415-1.179 0.777s-0.589 0.71-0.777 1.179c-0.536 1.353-0.415 4.567-0.415 6.067s-0.121 4.714 0.415 6.067c0.188 0.469 0.415 0.817 0.777 1.179s0.71 0.589 1.179 0.777c1.353 0.536 4.567 0.415 6.067 0.415s4.714 0.121 6.067-0.415c0.469-0.188 0.817-0.415 1.179-0.777s0.589-0.71 0.777-1.179c0.536-1.353 0.415-4.567 0.415-6.067s0.121-4.714-0.415-6.067c-0.188-0.469-0.415-0.817-0.777-1.179s-0.71-0.589-1.179-0.777c-1.353-0.536-4.567-0.415-6.067-0.415zM20.571 12c0 1.42 0.013 2.826-0.067 4.246-0.080 1.647-0.455 3.107-1.661 4.313s-2.665 1.58-4.313 1.661c-1.42 0.080-2.826 0.067-4.246 0.067s-2.826 0.013-4.246-0.067c-1.647-0.080-3.107-0.455-4.313-1.661s-1.58-2.665-1.661-4.313c-0.080-1.42-0.067-2.826-0.067-4.246s-0.013-2.826 0.067-4.246c0.080-1.647 0.455-3.107 1.661-4.313s2.665-1.58 4.313-1.661c1.42-0.080 2.826-0.067 4.246-0.067s2.826-0.013 4.246 0.067c1.647 0.080 3.107 0.455 4.313 1.661s1.58 2.665 1.661 4.313c0.080 1.42 0.067 2.826 0.067 4.246z"></path></svg></a> --}}

            {{!-- Youtube  --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M9.522 15.107l6.482-3.348-6.482-3.388v6.737zM12 3.563c5.049 0 8.397 0.241 8.397 0.241 0.469 0.054 1.5 0.054 2.411 1.018 0 0 0.737 0.723 0.951 2.384 0.254 1.942 0.241 3.884 0.241 3.884v1.821s0.013 1.942-0.241 3.884c-0.214 1.647-0.951 2.384-0.951 2.384-0.911 0.951-1.942 0.951-2.411 1.004 0 0-3.348 0.254-8.397 0.254v0c-6.241-0.054-8.156-0.241-8.156-0.241-0.536-0.094-1.741-0.067-2.652-1.018 0 0-0.737-0.737-0.951-2.384-0.254-1.942-0.241-3.884-0.241-3.884v-1.821s-0.013-1.942 0.241-3.884c0.214-1.661 0.951-2.384 0.951-2.384 0.911-0.964 1.942-0.964 2.411-1.018 0 0 3.348-0.241 8.397-0.241v0z"></path></svg></a> --}}

            {{!-- Telegram --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M15.924 17.504l1.969-9.281c0.174-0.817-0.295-1.138-0.83-0.938l-11.571 4.46c-0.79 0.308-0.777 0.75-0.134 0.951l2.96 0.924 6.871-4.326c0.321-0.214 0.616-0.094 0.375 0.121l-5.558 5.022-0.214 3.054c0.308 0 0.442-0.134 0.603-0.295l1.446-1.393 3 2.21c0.549 0.308 0.938 0.147 1.085-0.509zM24 12c0 6.629-5.371 12-12 12s-12-5.371-12-12 5.371-12 12-12 12 5.371 12 12z"></path></svg></a> --}}

            {{!-- SnapChap  --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="22" height="24" viewBox="0 0 22 24"><path d="M11.357 1.714c2.411-0.027 4.406 1.326 5.411 3.496 0.308 0.656 0.362 1.674 0.362 2.397 0 0.857-0.067 1.701-0.121 2.558 0.107 0.054 0.254 0.094 0.375 0.094 0.482 0 0.884-0.362 1.366-0.362 0.455 0 1.112 0.321 1.112 0.857 0 1.286-2.692 1.045-2.692 2.17 0 0.201 0.080 0.388 0.161 0.576 0.643 1.406 1.862 2.759 3.308 3.362 0.348 0.147 0.696 0.228 1.071 0.308 0.241 0.054 0.375 0.228 0.375 0.469 0 0.911-2.317 1.286-2.933 1.379-0.268 0.415-0.067 1.393-0.777 1.393-0.549 0-1.098-0.174-1.688-0.174-0.281 0-0.563 0.013-0.83 0.067-1.594 0.268-2.129 1.982-4.741 1.982-2.518 0-3.121-1.714-4.674-1.982-0.281-0.054-0.563-0.067-0.844-0.067-0.603 0-1.179 0.201-1.661 0.201-0.75 0-0.522-0.991-0.804-1.42-0.616-0.094-2.933-0.469-2.933-1.379 0-0.241 0.134-0.415 0.375-0.469 0.375-0.080 0.723-0.161 1.071-0.308 1.433-0.589 2.679-1.955 3.308-3.362 0.080-0.188 0.161-0.375 0.161-0.576 0-1.125-2.705-0.911-2.705-2.156 0-0.522 0.616-0.857 1.085-0.857 0.415 0 0.83 0.348 1.353 0.348 0.147 0 0.295-0.027 0.429-0.094-0.054-0.844-0.121-1.688-0.121-2.545 0-0.723 0.054-1.754 0.362-2.411 1.179-2.545 3.174-3.469 5.839-3.496z"></path></svg></a> --}}
        </div>

        {{!-- copyright -- sidebar --}}
        <div class="copyright u-textCenter">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>
            Design with ♥ by <a href="https://goo.gl/Jf1tZe" target="_blank" title="Developer Web FullStack.">@GodoFredoNinja</a>
        </div>
    </amp-sidebar>

    {{!-- Header --}}
    <header class="main-header u-bgColor u-container">
        <nav class="blog-title u-flexCenter">
            {{!-- <a href="{{@blog.url}}" class="logo-link" >
                <span class="logo-img">
                    <amp-img src="{{@blog.logo}}" width="110" height="30" alt="{{@blog.title}}"> </amp-img>
                </span>
            </a> --}}

            {{!-- name of Page (Logo) --}}
            <a href="{{@blog.url}}" class="logo-link u-flex1">{{@blog.title}}</a>

            {{!-- Open Sidenav --}}
            <button class="hamburgermenu" on="tap:sidebar1.toggle" tabindex="0"><span></span><span></span><span></span></button>
        </nav>
    </header>

    <main class="main u-staticPaddingZero">

        {{#post}}

        <article class="article u-container">
            <header class="article-header">

                <div class="u-flexCenter">

                {{#author}}

                    {{!-- Author avatar --}}
                    <div class="author u-overflowHidden">
                        <a href="{{url absolute="true"}}"  class="u-relative u-block author-avatar">
                            <amp-img class="u-absolute author-image" src="{{#if profile_image}} {{img_url profile_image absolute="true"}} {{else}} {{asset "images/avatar.png" absolute="true"}} {{/if}}" width="60" height="60" alt="{{name}}"> </amp-img>
                        </a>
                    </div>

                    <div class="author-left u-flex1 u-overflowHidden">
                        {{!-- Author Name --}}
                        <a href="{{url absolute="true"}}">{{name}}</a>

                {{/author}}

                        {{!-- Author biography --}}
                        {{#if author.bio}}<div class="author-bio u-block u-overflowHidden u-fontSizeSmaller u-textColorNormal">{{{author.bio}}}</div>{{/if}}

                        {{!-- Datetime of post --}}
                        <time class="datetime u-textColorNormal u-fontSizeSmaller u-block u-textColorNormal" datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
                    </div>
                </div>

                {{!-- Title of article --}}
                <h1 class="article-title">{{title}}</h1>

                {{!-- Excerpt --}}
                {{#if custom_excerpt}}<p class="article-excerpt">{{custom_excerpt}}</p>{{/if}}
            </header>

            {{!-- featured image --}}
            {{#if feature_image}}
                <figure class="article-image u-block u-marginTop30">
                    <amp-img src="{{img_url feature_image absolute="true"}}" width="600" height="400" layout="responsive"></amp-img>
                </figure>
            {{/if}}

            {{!-- article body (all content) --}}
            <div class="article-body"> {{amp_content}} </div>

            {{!-- Post All Tags (category) --}}
            {{#if tags}}<div class="article-tags">{{#foreach tags}}<a href="{{url absolute="true"}}" title="{{name}}" class="button" >{{name}}</a>{{/foreach}}</div>{{/if}}

            {{!-- Share social Media --}}
            <div class="share">
                <ul>
                    <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank"><svg height="32" viewBox="-2 -2 32 32" width="32"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg></a></li>
                    <li class="tw"><a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" target="_blank"><svg height="32" viewBox="-2 -2 32 32" width="32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg></a></li>
                    <li class="wa"><a href="whatsapp://send?text={{encode title}} - {{url absolute="true"}}" target="_top"><svg height="30" viewBox="0 0 30 30" width="30"><path d="M22.09 7.87c-1.88-1.88-4.38-2.92-7.05-2.92-5.49 0-9.96 4.47-9.96 9.96 0 1.75.46 3.47 1.33 4.98L5 25.04l5.28-1.38c1.45.79 3.09 1.21 4.76 1.21 5.49 0 9.96-4.47 9.96-9.96 0-2.65-1.03-5.15-2.91-7.04m-7.05 15.32c-1.49 0-2.95-.4-4.22-1.15l-.3-.18-3.13.82.84-3.05-.2-.31C7.2 18 6.76 16.47 6.77 14.91c0-4.56 3.71-8.27 8.28-8.27 2.21 0 4.29.86 5.85 2.43 1.56 1.56 2.42 3.64 2.42 5.85 0 4.56-3.72 8.27-8.28 8.27m4.54-6.2c-.25-.12-1.47-.73-1.7-.81s-.39-.12-.56.12c-.17.25-.64.81-.79.97-.14.17-.29.19-.54.06-.25-.12-1.05-.39-2-1.23-.74-.66-1.24-1.47-1.38-1.72-.15-.25-.02-.38.11-.51.11-.11.25-.29.37-.44.12-.15.17-.25.25-.42.08-.17.04-.31-.02-.44-.06-.12-.56-1.35-.77-1.85-.2-.49-.41-.42-.56-.43-.14-.01-.31-.01-.48-.01-.17 0-.44.06-.66.31-.22.25-.87.85-.87 2.08 0 1.22.89 2.41 1.02 2.57.12.17 1.75 2.68 4.25 3.76.59.26 1.06.41 1.42.52.6.19 1.14.16 1.57.1.48-.07 1.47-.6 1.68-1.18s.21-1.08.14-1.18c-.06-.08-.23-.14-.48-.27"></path></svg></a></li>
                    <li class="gplus"><a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><svg height="32" viewBox="4 -4 32 32" width="32"><path d="M8.8 12c-.1 2.9 2 5.7 4.7 6.6 2.6.9 5.8.2 7.5-2 1.3-1.6 1.6-3.6 1.4-5.6h-6.7v2.4h4c-.3 1.2-1.1 2.2-2.3 2.7-2.3 1-5.1-.3-5.8-2.7-.9-2.3.5-5 2.9-5.7 1.4-.5 2.9.1 4.1.8l1.8-1.8c-1.4-1.2-3.2-1.9-5-1.7-3.6.1-6.8 3.4-6.6 7zm18-3v2h-2v2h2v2h2v-2h2v-2h-2V9h-2z"></path></svg></a></li>
                </ul>
            </div>

        </article>

        {{/post}}

        {{!-- Related Articles --}}
        {{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}"}}
            <div class="related u-container">
                <div class="related-title"><span>{{t "Related Articles"}}</span></div>

                {{#foreach posts}}
                <div class="story">
                    <a href="{{url absolute="true"}}" class="story-link u-block u-relative">
                        <span class="story-border u-flexCenter u-absolute">{{@number}}</span>
                        <h3 class="story-title">{{title}}</h3>
                    </a>
                </div>
                {{/foreach}}

            </div>
        {{/get}}

    </main>


    <footer class="footer">
        {{!-- follow Me --}}
        <div class="follow u-textCenter">
            {{#if @blog.facebook}}
                <a href="{{facebook_url}}" rel="nofollow" target="_blank"><svg class="svg-icon" width="21" height="24" viewBox="0 0 21 24"><path d="M19.433 1.714c0.629 0 1.138 0.509 1.138 1.138v18.295c0 0.629-0.509 1.138-1.138 1.138h-5.237v-7.969h2.665l0.402-3.107h-3.067v-1.982c0-0.897 0.241-1.5 1.54-1.5l1.634-0.013v-2.772c-0.281-0.040-1.259-0.121-2.384-0.121-2.371 0-4.004 1.446-4.004 4.098v2.29h-2.679v3.107h2.679v7.969h-9.844c-0.629 0-1.138-0.509-1.138-1.138v-18.295c0-0.629 0.509-1.138 1.138-1.138h18.295z"></path></svg></a>
            {{/if}}

            {{#if @blog.twitter}}
                <a href="{{twitter_url}}" rel="nofollow" target="_blank"><svg class="svg-icon" viewBox="0 0 18 18" width="100%" height="100%"><path d="M12.077 2c-1.812 0-3.282 1.582-3.282 3.534 0 .277.03.547.085.806-2.728-.148-5.147-1.555-6.766-3.693-.283.522-.445 1.13-.445 1.777 0 1.226.58 2.308 1.46 2.942-.54-.02-1.05-.178-1.49-.443v.045c0 1.712 1.13 3.14 2.63 3.465-.28.08-.57.124-.87.124-.21 0-.418-.022-.62-.063.418 1.404 1.63 2.426 3.067 2.455-1.125.94-2.54 1.51-4.078 1.51-.267 0-.528-.02-.785-.05 1.46 1 3.185 1.59 5.04 1.59 6.037 0 9.34-5.39 9.34-10.06 0-.153-.005-.306-.01-.457.64-.5 1.197-1.12 1.637-1.83-.59.28-1.22.47-1.885.557.677-.437 1.198-1.13 1.443-1.955-.633.405-1.336.7-2.084.858C13.88 2.43 13.028 2 12.08 2"></path></svg></a>
            {{/if}}

            {{!-- Instagram --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon"  width="21" height="24" viewBox="0 0 21 24"><path d="M13.714 12c0-1.888-1.54-3.429-3.429-3.429s-3.429 1.54-3.429 3.429 1.54 3.429 3.429 3.429 3.429-1.54 3.429-3.429zM15.563 12c0 2.92-2.357 5.277-5.277 5.277s-5.277-2.357-5.277-5.277 2.357-5.277 5.277-5.277 5.277 2.357 5.277 5.277zM17.009 6.509c0 0.683-0.549 1.232-1.232 1.232s-1.232-0.549-1.232-1.232 0.549-1.232 1.232-1.232 1.232 0.549 1.232 1.232zM10.286 3.563c-1.5 0-4.714-0.121-6.067 0.415-0.469 0.188-0.817 0.415-1.179 0.777s-0.589 0.71-0.777 1.179c-0.536 1.353-0.415 4.567-0.415 6.067s-0.121 4.714 0.415 6.067c0.188 0.469 0.415 0.817 0.777 1.179s0.71 0.589 1.179 0.777c1.353 0.536 4.567 0.415 6.067 0.415s4.714 0.121 6.067-0.415c0.469-0.188 0.817-0.415 1.179-0.777s0.589-0.71 0.777-1.179c0.536-1.353 0.415-4.567 0.415-6.067s0.121-4.714-0.415-6.067c-0.188-0.469-0.415-0.817-0.777-1.179s-0.71-0.589-1.179-0.777c-1.353-0.536-4.567-0.415-6.067-0.415zM20.571 12c0 1.42 0.013 2.826-0.067 4.246-0.080 1.647-0.455 3.107-1.661 4.313s-2.665 1.58-4.313 1.661c-1.42 0.080-2.826 0.067-4.246 0.067s-2.826 0.013-4.246-0.067c-1.647-0.080-3.107-0.455-4.313-1.661s-1.58-2.665-1.661-4.313c-0.080-1.42-0.067-2.826-0.067-4.246s-0.013-2.826 0.067-4.246c0.080-1.647 0.455-3.107 1.661-4.313s2.665-1.58 4.313-1.661c1.42-0.080 2.826-0.067 4.246-0.067s2.826-0.013 4.246 0.067c1.647 0.080 3.107 0.455 4.313 1.661s1.58 2.665 1.661 4.313c0.080 1.42 0.067 2.826 0.067 4.246z"></path></svg></a> --}}

            {{!-- Youtube  --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M9.522 15.107l6.482-3.348-6.482-3.388v6.737zM12 3.563c5.049 0 8.397 0.241 8.397 0.241 0.469 0.054 1.5 0.054 2.411 1.018 0 0 0.737 0.723 0.951 2.384 0.254 1.942 0.241 3.884 0.241 3.884v1.821s0.013 1.942-0.241 3.884c-0.214 1.647-0.951 2.384-0.951 2.384-0.911 0.951-1.942 0.951-2.411 1.004 0 0-3.348 0.254-8.397 0.254v0c-6.241-0.054-8.156-0.241-8.156-0.241-0.536-0.094-1.741-0.067-2.652-1.018 0 0-0.737-0.737-0.951-2.384-0.254-1.942-0.241-3.884-0.241-3.884v-1.821s-0.013-1.942 0.241-3.884c0.214-1.661 0.951-2.384 0.951-2.384 0.911-0.964 1.942-0.964 2.411-1.018 0 0 3.348-0.241 8.397-0.241v0z"></path></svg></a> --}}

            {{!-- Telegram --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M15.924 17.504l1.969-9.281c0.174-0.817-0.295-1.138-0.83-0.938l-11.571 4.46c-0.79 0.308-0.777 0.75-0.134 0.951l2.96 0.924 6.871-4.326c0.321-0.214 0.616-0.094 0.375 0.121l-5.558 5.022-0.214 3.054c0.308 0 0.442-0.134 0.603-0.295l1.446-1.393 3 2.21c0.549 0.308 0.938 0.147 1.085-0.509zM24 12c0 6.629-5.371 12-12 12s-12-5.371-12-12 5.371-12 12-12 12 5.371 12 12z"></path></svg></a> --}}

            {{!-- SnapChap  --}}
            {{!-- <a href="" rel="nofollow" rel="nofollow" target="_blank"><svg class="svg-icon" width="22" height="24" viewBox="0 0 22 24"><path d="M11.357 1.714c2.411-0.027 4.406 1.326 5.411 3.496 0.308 0.656 0.362 1.674 0.362 2.397 0 0.857-0.067 1.701-0.121 2.558 0.107 0.054 0.254 0.094 0.375 0.094 0.482 0 0.884-0.362 1.366-0.362 0.455 0 1.112 0.321 1.112 0.857 0 1.286-2.692 1.045-2.692 2.17 0 0.201 0.080 0.388 0.161 0.576 0.643 1.406 1.862 2.759 3.308 3.362 0.348 0.147 0.696 0.228 1.071 0.308 0.241 0.054 0.375 0.228 0.375 0.469 0 0.911-2.317 1.286-2.933 1.379-0.268 0.415-0.067 1.393-0.777 1.393-0.549 0-1.098-0.174-1.688-0.174-0.281 0-0.563 0.013-0.83 0.067-1.594 0.268-2.129 1.982-4.741 1.982-2.518 0-3.121-1.714-4.674-1.982-0.281-0.054-0.563-0.067-0.844-0.067-0.603 0-1.179 0.201-1.661 0.201-0.75 0-0.522-0.991-0.804-1.42-0.616-0.094-2.933-0.469-2.933-1.379 0-0.241 0.134-0.415 0.375-0.469 0.375-0.080 0.723-0.161 1.071-0.308 1.433-0.589 2.679-1.955 3.308-3.362 0.080-0.188 0.161-0.375 0.161-0.576 0-1.125-2.705-0.911-2.705-2.156 0-0.522 0.616-0.857 1.085-0.857 0.415 0 0.83 0.348 1.353 0.348 0.147 0 0.295-0.027 0.429-0.094-0.054-0.844-0.121-1.688-0.121-2.545 0-0.723 0.054-1.754 0.362-2.411 1.179-2.545 3.174-3.469 5.839-3.496z"></path></svg></a> --}}
        </div>

        {{!-- copyright --}}
        <div class="copyright u-textCenter u-container">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>
            {{!-- Design with ♥ by <a href="https://goo.gl/Jf1tZe" target="_blank" title="Developer Web FullStack.">@GodoFredoNinja</a> --}}
        </div>
    </footer>
</body>
</html>
