<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>

    <noscript><style>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}.u-staticHide{display: none !important}.u-staticPaddingZero{padding-top: 0 !important}</style></noscript>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{#is "home"}}is-home{{/is}} {{{block "simply_class_body"}}}" data-page="{{@blog.url}}">

    {{!-- Header Content --}}
    {{>"header"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <main class="main u-relative u-staticPaddingZero {{#is "tag, author"}}u-backgroundWhite{{/is}}">{{{body}}}</main>

    {{!-- Footer Content --}}
    {{>"footer"}}

    {{!-- Search box --}}
    {{>"search"}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- The main JavaScript file for Casper --}}
    <script src="{{asset "scripts/main.js"}}"></script>

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>

    {{!-- Return home top page scroll --}}
    <a href="#" class="rocket u-hide-before-md u-hide">
        <span class="svgIcon u-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="#999" d="M251.7 169.6c-31 0-56 25-56 56 0 30.8 25 56 56 56 30.8 0 56-25.2 56-56 0-31-25.2-56-56-56zm0 95.6c-22 0-39.7-17.8-39.7-39.6 0-22 17.8-39.7 39.7-39.7 21.8 0 39.6 17.7 39.6 39.6 0 21.8-17.8 39.6-39.6 39.6zM251.7 395.7c-23.7 0-43 19.2-43 43 0 20.8 30.4 62 36.5 70 1.5 2 4 3.3 6.5 3.3s5-1.2 6.5-3.2c6-8 36.4-49.3 36.4-70.2 0-23.7-19.3-43-43-43zm0 94.3C239 472 225 448.3 225 438.6c0-14.7 12-26.6 26.7-26.6 14.6 0 26.6 12 26.6 26.6 0 9.7-14 33.3-26.6 51.4z"/><path fill="#999" d="M448.4 371.7l-80-71.5v-153-.6-.4-.4-.4l-.2-.4v-.4c-.2 0-.2-.2-.3-.3l-.2-.4c0-.2 0-.3-.2-.4 0-.2 0-.3-.2-.4 0 0 0-.2-.2-.3 0-.3-.2-.4-.3-.5l-.2-.2L258 3c-1.5-1.8-3.8-3-6.3-3-2.6 0-5 1.2-6.5 3L136.5 142.4v.2c-.2 0-.3.2-.4.4v.2l-.3.3c0 .2 0 .3-.2.4v.3c-.2 0-.2.2-.3.3v.4l-.2.4v.8l-.2.4v153.8l-80 71.4c-2.4 2.2-3.3 5.8-2 9 1 3 4.2 5.2 7.5 5.2H443c3.4 0 6.4-2.2 7.6-5.3 1.2-3.2.3-6.8-2.2-9zm-313.6-2h-53l53-47.6v47.6zm117-348.3L343.5 139h-184l92-117.6zM352 369.6h-201V312h201v57.6zm0-74h-201V155.5h201v140.3zm16.3 74V322l53 47.6h-53z"/><path fill="#999" d="M261.8 202.4c-3.2-3.2-8.4-3.2-11.6 0L228.5 224c-3.2 3.3-3.2 8.5 0 11.7 1.6 1.6 3.7 2.4 5.8 2.4s4-.7 5.7-2.3l21.8-21.8c3-3.3 3-8.4 0-11.6zM274.8 224c-3.2-3-8.3-3-11.5 0l-13 13.2c-3.2 3.2-3.2 8.3 0 11.5 1.5 1.6 3.6 2.4 5.7 2.4 2 0 4.2-.7 5.8-2.3l13-13c3.2-3.2 3.2-8.4 0-11.6zM486.5 252.2c-4.5 0-8.2 3.6-8.2 8v148c0 4.5 3.7 8 8.2 8 4.5 0 8-3.5 8-8v-148c0-4.4-3.5-8-8-8zM434.3 217.4c-4.5 0-8.2 3.7-8.2 8.2v52c0 4.6 3.8 8.3 8.3 8.3 4.5 0 8-3.8 8-8.3v-52c0-4.6-3.5-8.3-8-8.3zM25.5 261c-4.5 0-8 3.5-8 8v174c0 4.5 3.5 8 8 8s8.2-3.5 8.2-8V269c0-4.5-3.7-8-8.2-8zM77.7 182.6c-4.5 0-8 3.7-8 8.2V269c0 4.5 3.5 8.2 8 8.2s8.2-3.7 8.2-8.2v-78.2c0-4.5-3.8-8.2-8.3-8.2z"/></svg>
        </span>
    </a>

    {{!--  Font Droid Serif  && Source sans Pro --}}
    <script>WebFontConfig ={google:{families:['Droid+Serif:400,700','Source+Sans+Pro:300,400,600,700']}};(function(){var wf=document.createElement('script');wf.src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';wf.type='text/javascript';wf.async='true';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(wf,s);})();</script>
</body>
</html>
