.pageHeader {
  background: #b0ffee;
  padding: 10px;
}

.pageHeader .banner {
  height: 20px;
  margin: 10px auto;
  z-index: 151;
}

.pageHeader .banner .banner-title {
  font-size: 16px;
  color: #212121;
  text-align: right;
}

.pageHeader .banner .banner-cta {
  text-align: left;
}

.getApp,
.getApp:hover,
.getApp:focus,
.getApp:active {
  background: #03aa85;
  color: #ffffff;
  padding: 10px 15px;
  display: inline;
}

.header-content {
  padding: 0 10px;
}

@media only screen and (max-width: 992px) {
  .pageHeader {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .pageHeader .banner .banner-title {
    font-size: 12px;
    text-align: left;
  }

  .pageHeader .banner .banner-cta {
    margin-top: 5px;
    text-align: right;
  }
}
